@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");
body {
  background-image: url("./img/filmachter.jpg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  font-family: 'Nunito Sans', sans-serif;
}

nav {
  width: 1100px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 900px 200px;
      grid-template-columns: 900px 200px;
  -ms-grid-rows: 200px 100px auto 100px;
      grid-template-rows: 200px 100px auto 100px;
      grid-template-areas: 'h h' 'as as' 'm m' 'fo fo';
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: h;
  width: 1100px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: lightyellow;
  background-color: black;
  -webkit-transform: translate(100px, 10px);
          transform: translate(100px, 10px);
}

.searchBar {
  width: 500px;
  height: 100px;
  -webkit-transform: translate(300px, -20px);
          transform: translate(300px, -20px);
}

#userInput {
  width: 300px;
  height: 50px;
  border: solid 2px yellow;
}

aside {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: as;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  -webkit-transform: translate(100px, 10px);
          transform: translate(100px, 10px);
}

.radioBtn {
  border: 1px solid white;
  width: 200px;
  height: 50px;
  line-height: 50px;
  color: lightyellow;
  background-color: black;
}

.radioBtn:hover {
  background-color: darkblue;
  border: 1px solid lime;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: fo;
  text-align: center;
  color: white;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: m;
}

#movie-list {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[4];
      grid-template-columns: repeat(4, 300px);
  -ms-grid-rows: (400px)[10];
      grid-template-rows: repeat(10, 400px);
  gap: 10px 10px;
}

#movieList--item:hover {
  opacity: 0.3;
}

img {
  width: 300px;
  height: 400px;
}

@media (max-width: 760px) {
  body {
    background-image: url("./img/filmachter.jpg.jpg");
    background-repeat: no-repeat;
    width: 760px;
    background-size: 200%;
    background-attachment: fixed;
    font-family: 'Nunito Sans', sans-serif;
  }
  nav {
    width: 700px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 400px 300px;
        grid-template-columns: 400px 300px;
    -ms-grid-rows: 200px auto 100px;
        grid-template-rows: 200px auto 100px;
        grid-template-areas: 'h h' 'm as' 'fo fo';
  }
  header {
    text-align: center;
    font-size: 20px;
    width: 700px;
    -webkit-transform: translate(-100px, 10px);
            transform: translate(-100px, 10px);
    position: fixed;
  }
  .searchBar {
    width: 300px;
    height: 100px;
    -webkit-transform: translate(200px, 10px);
            transform: translate(200px, 10px);
  }
  aside {
    display: table-row-group;
    gap: 5px;
    position: fixed;
    right: 100px;
    top: 200px;
  }
  .radioBtn {
    -webkit-transform: translate(-140px, 20px);
            transform: translate(-140px, 20px);
  }
  #movie-list {
    list-style: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (150px)[2];
        grid-template-columns: repeat(2, 150px);
    -ms-grid-rows: (200px)[18];
        grid-template-rows: repeat(18, 200px);
    gap: 5px 5px;
  }
  img {
    width: 150px;
    height: 200px;
  }
}

@media (max-width: 600px) {
  body {
    background-image: url("./img/filmachter.jpg.jpg");
    background-repeat: no-repeat;
    width: 400px;
    height: auto;
    background-size: 300%;
    background-attachment: fixed;
    font-family: 'Nunito Sans', sans-serif;
  }
  nav {
    width: 400px;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 400px;
        grid-template-columns: 400px;
    -ms-grid-rows: 200px 300px auto 100px;
        grid-template-rows: 200px 300px auto 100px;
        grid-template-areas: 'h' 'as' 'm' 'fo';
  }
  header {
    text-align: center;
    font-size: 15px;
    width: 360px;
    position: relative;
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  .searchBar {
    width: 200px;
    height: 100px;
    -webkit-transform: translate(20px, -10px);
            transform: translate(20px, -10px);
  }
  #userInput {
    width: 300px;
    height: 25px;
  }
  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    -webkit-transform: translate(310px, -300px);
            transform: translate(310px, -300px);
  }
  #movie-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (200px)[1];
        grid-template-columns: repeat(1, 200px);
    -ms-grid-rows: (300px)[30];
        grid-template-rows: repeat(30, 300px);
    gap: 5px 5px;
    -webkit-transform: translate(30px, -100px);
            transform: translate(30px, -100px);
  }
  img {
    width: 200px;
    height: 300px;
  }
}
/*# sourceMappingURL=styles.css.map */